.encabezadoCajagris {
    background-color: black;
    color: white;
    height: 30px; }

    .regCarro {
        display: flex;
        justify-content: center;
        align-items: flex-end; }
        .regCarro img:hover {
          transform: skew(-20deg);
          cursor: pointer;
          transition: transform 3s; }
      
      .regCarro a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #5B5959;
        padding: 10px 10px; }
        .regCarro a:hover {
          color: grey;
          font-weight: 600; }